.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);

    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content {
    background: #f4f4f4;
    width: 800px;
    padding: 30px;
    border-radius: 8px;
}


.form-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

textarea {
    width: 100%;
    height: 100px;
}

.modal-buttons {
    margin-top: 20px;
    display: flex;
    gap: 15px;
    justify-content: flex-start;
}

.submit-btn {
    background-color: #8b0000;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 6px;
}

.cancel-btn {
    background-color: gray;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 6px;
}
.header-row {
  display: flex;
  align-items: center;
  gap: 20px;
}

.back-btn {
  font-size: 24px;
  background: none;
  border: none;
  cursor: pointer;
}

.title-section {
  display: flex;
  align-items: center;
  gap: 40px;
}

.title-section h1 {
  margin: 0;
}

.client-name {
  font-size: 18px;
}
.icon-cell {
  display: flex;
  gap: 20px;
}

.icon {
  cursor: pointer;
}
