.modal-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.4);

  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content,
.confirm-box {
  background: white;
  padding: 30px;
  border-radius: 8px;
  width: 600px;
}

.modal-buttons {
  margin-top: 25px;
  display: flex;
  gap: 15px;
  justify-content: flex-start;
}

.primary-btn {
  background-color: #8b0000;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.secondary-btn {
  background-color: gray;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 6px;
}
