.header {
  display: flex;
  align-items: center;
  justify-content: center !important;
  gap: 20px;
  background-color: #f4f4f4
}

.header h1 {
  font-size: 32px;
}

.logo {
  position: absolute;
  left: 20px;
  color: black;
}
